* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	padding: 5vw;
	background-image: url(./backdrop.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-y: hidden;
}

#container {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin-top: -15vh;
	padding: 80px 40px 80px 40px;
	width: 100%;
	max-width: 600px;
	text-align: center;
}

#rn {
	margin-top: -1.5vh;
	font-size: 1.8rem;
}

#dd {
	padding-top: 4.5vh;
	font-size: 2.5rem;
	font-weight: bold;
}

#name {
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

p {
	margin-bottom: 10px;
	font-size: 1.8rem;
}

#text2 {
	padding-top: 4vh;
}

#text2 p {
	font-size: 1.5rem;
}

#quote {
	color: white;
	width: 87.5vw;
	text-align: center;
}

#page {
	display: flex;
	justify-content: space-around;
	height: 100vh;
	flex-direction: column;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#location {
	margin-top: 5px;
}

@media screen and (min-width: 768px) {
	#contacts {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}

@media (max-width: 768px) {
	body {
		justify-content: center;
	}

	#container {
		padding: 30px;
	}

	#name {
		font-size: 3rem;
	}

	p {
		font-size: 1.5rem;
	}

	#text2 p {
		font-size: 1.2rem;
	}
}
